!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" =>  "Content-Type"}/}
    %title ChatSpace
    %meta{name: "csrf-param", content: "authenticity_token"}/}
    %meta{name: "csrf-token", content: "3oAXU+rUCBc6oofd83OPEDn2817YhHuogvaCKEuHYLlVaMRmHlUjFj48zqagIdBbkkgvOQw7qBQji5XqlVChSw=="}/}
    
