.notification {
  .notice {
    background-color: $lightBlueColor;
    color: $WhiteColor;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $WhiteColor;
    text-align: center;
  }
}
